.ss-image-container {
    margin: 0 0 25px 0;
}
.ss-image {
    display: block;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.card:hover {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .35rem;
    border-bottom-left-radius: .35rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.card-subtitle {
    margin-top: -.375rem;
}

.card-subtitle,.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link+.card-link {
    margin-left: 1.25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.card-header:first-child {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 0;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f8f9fc;
    border-top: 1px solid #e3e6f0;
}

.card-footer:last-child {
    border-radius: 0 0 calc(.35rem - 1px) calc(.35rem - 1px);
}

.card-header-tabs {
    margin-bottom: -.75rem;
    border-bottom: 0;
}

.card-header-pills,.card-header-tabs {
    margin-right: -.625rem;
    margin-left: -.625rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img,.card-img-bottom,.card-img-top {
    flex-shrink: 0;
    width: 100%;
}

.card-img,.card-img-top {
    border-top-left-radius: calc(.35rem - 1px);
    border-top-right-radius: calc(.35rem - 1px);
}

.card-img,.card-img-bottom {
    border-bottom-right-radius: calc(.35rem - 1px);
    border-bottom-left-radius: calc(.35rem - 1px);
}

.card-deck .card {
    margin-bottom: .75rem;
}

@media (min-width:576px) {
    .card-deck {
        display: flex;
        flex-flow: row wrap;
        margin-right: -.75rem;
        margin-left: -.75rem;
    }

    .card-deck .card {
        flex: 1 0 0%;
        margin-right: .75rem;
        margin-bottom: 0;
        margin-left: .75rem;
    }
}

.card-group>.card {
    margin-bottom: .75rem;
}

@media (min-width:576px) {
    .card-group {
        display: flex;
        flex-flow: row wrap;
    }

    .card-group>.card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }

    .card-group>.card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-group>.card:not(:last-child) .card-header,.card-group>.card:not(:last-child) .card-img-top {
        border-top-right-radius: 0;
    }

    .card-group>.card:not(:last-child) .card-footer,.card-group>.card:not(:last-child) .card-img-bottom {
        border-bottom-right-radius: 0;
    }

    .card-group>.card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-group>.card:not(:first-child) .card-header,.card-group>.card:not(:first-child) .card-img-top {
        border-top-left-radius: 0;
    }

    .card-group>.card:not(:first-child) .card-footer,.card-group>.card:not(:first-child) .card-img-bottom {
        border-bottom-left-radius: 0;
    }
}

.card-columns .card {
    margin-bottom: .75rem;
}

@media (min-width:576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}

.border {
    border: 1px solid #e3e6f0!important;
}

.border-top {
    border-top: 1px solid #e3e6f0!important;
}

.border-right {
    border-right: 1px solid #e3e6f0!important;
}

.border-bottom {
    border-bottom: 1px solid #e3e6f0!important;
}

.border-left {
    border-left: 1px solid #e3e6f0!important;
}

.border-0 {
    border: 0!important;
}

.border-top-0 {
    border-top: 0!important;
}

.border-right-0 {
    border-right: 0!important;
}

.border-bottom-0 {
    border-bottom: 0!important;
}

.border-left-0 {
    border-left: 0!important;
}

.border-primary {
    border-color: #4e73df!important;
}

.border-secondary {
    border-color: #858796!important;
}

.border-success {
    border-color: #1cc88a!important;
}

.border-info {
    border-color: #36b9cc!important;
}

.border-warning {
    border-color: #f6c23e!important;
}

.border-danger {
    border-color: #e74a3b!important;
}

.border-light {
    border-color: #f8f9fc!important;
}

.border-dark {
    border-color: #5a5c69!important;
}

.border-white {
    border-color: #fff!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2)!important;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.shadow-none {
    box-shadow: none!important;
}

.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}

.border-bottom-primary {
    border-bottom: .25rem solid #4e73df!important;
}

.border-left-secondary {
    border-left: .25rem solid #858796!important;
}

.border-bottom-secondary {
    border-bottom: .25rem solid #858796!important;
}

.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}

.border-bottom-success {
    border-bottom: .25rem solid #1cc88a!important;
}

.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}

.border-bottom-info {
    border-bottom: .25rem solid #36b9cc!important;
}

.border-left-warning {
    border-left: .25rem solid #f6c23e!important;
}

.border-bottom-warning {
    border-bottom: .25rem solid #f6c23e!important;
}

.border-left-danger {
    border-left: .25rem solid #e74a3b!important;
}

.border-bottom-danger {
    border-bottom: .25rem solid #e74a3b!important;
}

.border-left-light {
    border-left: .25rem solid #f8f9fc!important;
}

.border-bottom-light {
    border-bottom: .25rem solid #f8f9fc!important;
}

.border-left-dark {
    border-left: .25rem solid #5a5c69!important;
}

.border-bottom-dark {
    border-bottom: .25rem solid #5a5c69!important;
}