{% extends "layout.html" %}

{% block content %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<style type="text/css">
    .breadcrumb {
        padding: 5px !important;
        margin: 0px !important;
        background-color: transparent;
    }

    .logout {
        color: inherit !important;
    }
    .logout:hover { 
        text-decoration: none !important;
    }
</style>

<form method="POST" class="hidden" id="form" style="position: relative; margin: 20px">
    <div class="form-group" style="display: flex; justify-content: space-between;">
    	<nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/date">Date</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chart</li>
          </ol>
        </nav>
        <button type="submit" class="btn btn-outline-secondary" name="LogOut" value="True">
            <a href="/logout" class="logout"><i class="fa fa-sign-out" aria-hidden="true" style="margin-right: 3px;"></i>Log out</a>
        </button>
    </div>

    <button class="btn btn-secondary" type="submit" name="submit" value="DataDownload" id="submit">
    	Data Download <i class="fa fa-cloud-download" style="font-size: 20px"></i>
    </button>
</form>

<div class="container-fluid">
	<div style="display: flex; justify-content: center;">
		<select class="hidden" id="parameterSelection">
		    <option disabled selected>-- Choose the parameter --</option>
		    <option value="Voltage">Voltage</option>
		    <option value="Current">Current</option>
		    <option value="Frequency">Frequency</option>
		    <option value="Power Factor">Power Factor</option>
		    <option value="Power">Power</option>
		    <option value="Energy">Energy</option>
		    <option value="Temperature">Temperature</option>
		    <option value="all">All Charts</option>
		</select>
	</div>

	<div class="individualCharts" style="display: flex; justify-content: center;">
		<div id="chart"></div>
	</div>

	<div class="allCharts" style="display: flex; justify-content: center; flex-wrap: wrap; flex-direction: row;">
		<div id="Voltage"></div>
		<div id="Current"></div>
		<div id="Frequency"></div>
		<div id="Power Factor"></div>
		<div id="Power"></div>
		<div id="Energy"></div>
		<div id="Temperature"></div>
	</div>
</div>

<script type="text/javascript">
	var paramValues = JSON.parse('{{paramValues | tojson}}');
	$('#parameterSelection').on('change', function() {
		if(this.value!=='all') {
			var chartData = [];
			var layout = {
				xaxis: {
					title: 'Time'
				},
				yaxis: {
					title: this.value
				}
			};
			if(this.value==='Voltage' || this.value==='Current' || this.value==='Frequency' || this.value==='Power Factor' || this.value==='Temperature') {
				$('div.individualCharts').css({'display':'flex'});
				$('div.allCharts').css({'display':'none'});
				var data = {
				  x: paramValues['Time'],
				  y: paramValues[this.value],
				  mode: 'line'
				};
				chartData = [data];
			}
			else if(this.value==='Power' || this.value==='Energy') {
				$('div.individualCharts').css({'display':'flex'});
				$('div.allCharts').css({'display':'none'});
				var data1 = {
				  x: paramValues['Time'],
				  y: paramValues['Apparent '+this.value],
				  mode: 'line',
				  name: 'Apparent '+this.value
				};
				var data2 = {
				  x: paramValues['Time'],
				  y: paramValues['Active '+this.value],
				  mode: 'line',
				  name: 'Active '+this.value
				};
				var data3 = {
				  x: paramValues['Time'],
				  y: paramValues['Reactive '+this.value],
				  mode: 'line',
				  name: 'Reactive '+this.value
				};
				chartData = [data1, data2, data3];
			}
			Plotly.newPlot('chart', chartData, layout);
		}

		
		else if(this.value==='all') {
			$('div.individualCharts').css({'display':'none'});
			$('div.allCharts').css({'display':'flex'});
			var params = ['Voltage', 'Current', 'Frequency', 'Power Factor', 'Power', 'Energy', 'Temperature']
			params.forEach((item, index) => {
				var chartData = [];
				var layout = {
					title: item + ' Plot',
					width: 600,
					xaxis: {
						title: 'Time'
					},
					yaxis: {
						title: item
					}
				};
				if(index!==4 && index!==5) {
					var data = {
					  x: paramValues['Time'],
					  y: paramValues[item],
					  mode: 'line'
					};
					chartData = [data]
					
				} else {
					var data1 = {
					  x: paramValues['Time'],
					  y: paramValues['Apparent '+item],
					  mode: 'line',
					  name: 'Apparent '+item
					};
					var data2 = {
					  x: paramValues['Time'],
					  y: paramValues['Active '+item],
					  mode: 'line',
					  name: 'Active '+item
					};
					var data3 = {
					  x: paramValues['Time'],
					  y: paramValues['Reactive '+item],
					  mode: 'line',
					  name: 'Reactive '+item
					};
					chartData = [data1, data2, data3];
				}
				Plotly.newPlot(item, chartData, layout);
			});
		}
	});
</script>
{% endblock content %}