{% extends "layout.html" %}

{% block content %}
<style type="text/css">
	.breadcrumb {
		padding: 5px !important;
		margin: 0px !important;
		background-color: transparent;
	}

	.logout {
		color: inherit !important;
	}

	.date-input {
    display: flex;
    gap: 10px;
		justify-content: center;
    align-items: center;
	}

	.logout:hover {
		text-decoration: none !important;
	}

	@media screen and (max-width: 788px) {
		#meterInfoDiv {
			text-align: center;
			margin-top: 25px;
		}
	}

	@media screen and (min-width: 789px) {
		#meterInfoDiv {
			text-align: left;
		}
	}

	.meterInfo {
		text-decoration: none;
		color: black;
		background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100%);
		transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s;
		background-size: 100% 220%;
		background-position: 0px 0px;
		font-weight: normal;
	}

	.meterInfo:hover {
		color: black;
		background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), #00ff6c calc(50% - 9px), #00ff6c 100%);
		background-position: 0px 100%;
	}
</style>

<div style="position: relative; margin: 20px">
	<div style="display: flex; justify-content: space-between;">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/home">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Date ({{ meterVal[0] }}eter {{ meterVal[1] }})</li>
			</ol>
		</nav>
		<form method="POST">
			<button type="submit" class="btn btn-outline-secondary" name="LogOut" value="True">
				<a href="/logout" class="logout"><i class="fa fa-sign-out" aria-hidden="true" style="margin-right: 3px;"></i>Log
					out</a>
			</button>
		</form>
	</div>

	<div class="container-fluid"
		style="display: flex; justify-content: center; align-items: center; margin-top: 8%; text-align: center;">
		<div class="row">
			<!-- Dates Table -->
			<div class="col-sm-6 col-md-4">
				<div class="table-responsive" style="width: 225px; height: 60vh; overflow-y: scroll; margin: auto;">
					<table class="table" id="DatesTable">
						<thead>
							<tr>
								<th>Available Dates</th>
							</tr>
						</thead>
						<tbody>
							{% for date in dates %}
							<tr>
								<td>{{ date }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<script language="javascript">
				var tbl = document.getElementById("DatesTable");
				if (tbl != null) {
					for (var i = 1; i < tbl.rows.length; i++) {
						for (var j = 0; j < tbl.rows[i].cells.length; j++) {
							tbl.rows[i].cells[j].onclick = function () { getval(this); };
						}
					}
				}
				function getval(cel) {
					document.getElementById("date").value = cel.innerHTML;
				}
			</script>

			<!-- Date Selection and Submit -->
			<script src="static/js/dateSelect.js"></script>
			<div class="col-sm-6 col-md-4">
				<div class="row">
					<div class="col-md-12"
						style="display: flex; justify-content: center; align-items: center; margin-top: 8%; text-align: center;">
						<form method="POST" class="date-input">
							<input class="border rounded form-control-lg"
								style="color: #000000; width: 200px; border-color: #000000; border-width: 10px; margin-bottom: 5px;"
								required name="date" id="date" name="date" placeholder="dd-mm-yyyy" pttern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
							<button class="btn btn-primary text-center bg-primary border rounded mr-1" type="submit" name="datePage"
								value="dateValue" id="submit" style="width: 80px;">Submit</button>
						</form>
					</div>
					<div class="col-md-12" style="margin-top: 25px;">
						<form method="POST">
							<div class="form-group">
								<button type="submit" class="button btn btn-outline-success" name="datePage" value="liveData"><span>Live
										Data</span></button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Meter Info -->
			<div class="col-md-4" id="meterInfoDiv" style="font-weight: bold;">
				<p>Manufacturer Name: <span class="meterInfo">{{ meterInfo[0] }}</span></p>
				<p>Serial Number: <span class="meterInfo">{{ meterInfo[1] }}</span></p>
				<p>Manufacture Year: <span class="meterInfo">{{ meterInfo[2] }}</span></p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}