{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/live.css">

<script type="text/javascript">
    var arr_voltage=[], arr_current=[], arr_frequency=[],
        arr_apparentPower=[], arr_activePower=[], arr_reactivePower=[],
        arr_pf=[], arr_voltageTHD=[], arr_currentTHD=[];

    $(document).ready(function() {
        setInterval(function() {
            $.getJSON('{{ dbURL }}',function(paramData)
            {
                console.log(paramData);
                var voltage = paramData.Voltage;
                var current = paramData.Current;
                var frequency = paramData.Frequency;
                var apparentPower = paramData.Powers['Apparent Power'];
                var activePower = paramData.Powers['Active Power'];
                var reactivePower = paramData.Powers['Reactive Power'];
                var pf = paramData['Power Factor'];
                var voltageTHD = paramData.THDs['Voltage THD'];
                var currentTHD = paramData.THDs['Current THD'];

                $('#voltage').html(voltage);
                $('#current').html(current);
                $('#frequency').html(frequency);
                $('#apparentPower').html(apparentPower);
                $('#activePower').html(activePower);
                $('#reactivePower').html(reactivePower);
                $('#pf').html(pf);
                $('#voltageTHD').html(voltageTHD);
                $('#currentTHD').html(currentTHD);
                $('#DateTime').html('<strong>Values last updated at: </strong>' + paramData.Date + ' ; ' + paramData.Time);

                google.charts.load("current", {packages:["imagesparkline"]});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() 
                {
                    arr_voltage.push(voltage);
                    arr_current.push(current);
                    arr_frequency.push(frequency);
                    arr_apparentPower.push(apparentPower);
                    arr_activePower.push(activePower);
                    arr_reactivePower.push(reactivePower);
                    arr_pf.push(pf);
                    arr_voltageTHD.push(voltageTHD);
                    arr_currentTHD.push(currentTHD);

                    var dataArray_voltage = [['']];
                    var dataArray_current = [['']];
                    var dataArray_frequency = [['']];
                    var dataArray_apparentPower = [['']];
                    var dataArray_activePower = [['']];
                    var dataArray_reactivePower = [['']];
                    var dataArray_pf = [['']];
                    var dataArray_voltageTHD = [['']];
                    var dataArray_currentTHD = [['']];

                    for (var n = 0; n < arr_voltage.length; n++) 
                    {
                        dataArray_voltage.push([arr_voltage[n]]);
                        dataArray_current.push([arr_current[n]]);
                        dataArray_frequency.push([arr_frequency[n]]);
                        dataArray_apparentPower.push([arr_apparentPower[n]]);
                        dataArray_activePower.push([arr_activePower[n]]);
                        dataArray_reactivePower.push([arr_reactivePower[n]]);
                        dataArray_pf.push([arr_pf[n]]);
                        dataArray_voltageTHD.push([arr_voltageTHD[n]]);
                        dataArray_currentTHD.push([arr_currentTHD[n]]);
                    }
                    var dataVoltage = new google.visualization.arrayToDataTable(dataArray_voltage);
                    var dataCurrent = new google.visualization.arrayToDataTable(dataArray_current);
                    var dataFrequency = new google.visualization.arrayToDataTable(dataArray_frequency);
                    var dataApparentPower = new google.visualization.arrayToDataTable(dataArray_apparentPower);
                    var dataActivePower = new google.visualization.arrayToDataTable(dataArray_activePower);
                    var dataReactivePower = new google.visualization.arrayToDataTable(dataArray_reactivePower);
                    var dataPF = new google.visualization.arrayToDataTable(dataArray_pf);
                    var dataVoltageTHD = new google.visualization.arrayToDataTable(dataArray_voltageTHD);
                    var dataCurrentTHD = new google.visualization.arrayToDataTable(dataArray_currentTHD);  

                    var chartVoltage = new google.visualization.ImageSparkLine(document.getElementById('chartVoltage_div'));
                    var chartCurrent = new google.visualization.ImageSparkLine(document.getElementById('chartCurrent_div'));
                    var chartFrequency = new google.visualization.ImageSparkLine(document.getElementById('chartFrequency_div'));
                    var chartApparentPower = new google.visualization.ImageSparkLine(document.getElementById('chartApparentPower_div'));
                    var chartActivePower = new google.visualization.ImageSparkLine(document.getElementById('chartActivePower_div'));
                    var chartReactivePower = new google.visualization.ImageSparkLine(document.getElementById('chartReactivePower_div'));
                    var chartPF = new google.visualization.ImageSparkLine(document.getElementById('chartPF_div'));
                    var chartVoltageTHD = new google.visualization.ImageSparkLine(document.getElementById('chartVoltageTHD_div'));
                    var chartCurrentTHD = new google.visualization.ImageSparkLine(document.getElementById('chartCurrentTHD_div'));

                    var options = {
                        title: '',
                        width: 200, height: 50, 
                        fill: false,
                        showAxisLines: false,  
                        showValueLabels: true, 
                        labelPosition: 'left'
                    };
                    chartVoltage.draw(dataVoltage, options);
                    chartCurrent.draw(dataCurrent, options);
                    chartFrequency.draw(dataFrequency, options);
                    chartApparentPower.draw(dataApparentPower, options);
                    chartActivePower.draw(dataActivePower, options);
                    chartReactivePower.draw(dataReactivePower, options);
                    chartPF.draw(dataPF, options);
                    chartVoltageTHD.draw(dataVoltageTHD, options);
                    chartCurrentTHD.draw(dataCurrentTHD, options);
                }
              });
        }, 5000);
     });
</script>

<!-- 1st row -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Voltage</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0" id="voltage"><span></span></div>
                            </div>
                            <div class="col-auto">
                                <h1>V</h1>
                            </div>
                        </div>
                        <div id="chartVoltage_div"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-success py-2 neuromorphism">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Current</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0" id="current"><span></span></div>
                            </div>
                            <div class="col-auto">
                                <h1>A</h1>
                            </div>
                        </div>
                        <div id="chartCurrent_div"></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-info py-2 neuromorphism">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Frequency</span></div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="text-dark font-weight-bold h5 mb-0 mr-3" id="frequency"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <h1>Hz</h1>
                            </div>
                        </div>
                        <div id="chartFrequency_div"></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

<!-- 2nd row -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-warning py-2 neuromorphism">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Apparent Power</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0" id="apparentPower"><span></span></div>
                            </div>
                            <div class="col-auto">
                                <h1>VA</h1>
                            </div>
                        </div>
                        <div id="chartApparentPower_div"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-danger py-2 neuromorphism">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-danger font-weight-bold text-xs mb-1"><span>Active Power</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0" id="activePower"><span></span></div>
                            </div>
                            <div class="col-auto">
                                <h1>W</h1>
                            </div>
                        </div>
                        <div id="chartActivePower_div"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-secondary py-2 neuromorphism">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-secondary font-weight-bold text-xs mb-1"><span>Reactive Power</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0" id="reactivePower"><span></span></div>
                            </div>
                            <div class="col-auto">
                                <h1>VAr</h1>
                            </div>
                        </div>
                        <div id="chartReactivePower_div"></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

<!-- 3rd row -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-primary py-2 neuromorphism">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Power Factor</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0" id="pf"><span></span></div>
                            </div>
                            <div class="col-auto">
                                <h1></h1>
                            </div>
                        </div>
                        <div id="chartPF_div"></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-success py-2 neuromorphism">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Voltage THD</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0" id="voltageTHD"><span></span></div>
                            </div>
                            <div class="col-auto">
                                <h1>%</h1>
                            </div>
                        </div>
                        <div id="chartVoltageTHD_div"></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-info py-2 neuromorphism">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Current THD</span></div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="text-dark font-weight-bold h5 mb-0 mr-3" id="currentTHD"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <h1>%</h1>
                            </div>
                        </div>
                        <div id="chartCurrentTHD_div"></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>
<div class="alert alert-info beautiful" role="alert" id="DateTime"></div>
{% endblock content %}